<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/variable/pretendardvariable-dynamic-subset.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
  <style>
img {
  max-width: 100%;
  height: auto;
}
</style>
  </head>

  <body>
  <header style="text-align: center; margin: 2rem 0;">
    <a href="{{ '/' | relative_url }}">
    <img src="{{ '/images/logo.png' | relative_url }}" alt="콘테나 로고" style="max-width: 200px; height: auto;">
    </a>
  </header>

    <main style="max-width: 720px; margin: 0 auto; padding: 2rem 2rem;">
      {{ content }}
    </main>

    <footer style="position: fixed; bottom: 0; width: 100%; text-align: center; font-size: 0.8rem; color: #777; background-color: #fefefe; border-top: 1px solid #e7c496; padding: 0.5rem;">
      포장 없이 담습니다
    </footer>
  </body>
</html>
